@import "variables";

.fp_multi-distributor {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  padding: 30px 70px;
  margin: 0 -15px;
  text-align: center;

  @media(max-width: 991px){
    padding: 30px 40px;
  }

  @media(max-width: 599px){
    padding: 30px 15px;
  }

  &--inner {
    display: block;
    width: 100%;
    max-width: 1542px;
    margin: 0 auto;
  }

  &__header {
    display: block;
    padding: 0;
    padding-right: 18%;
    text-align: left;

    @media(max-width: 991px){
      padding-right: 9%;
    }

    @media(max-width: 767px){
      padding-right: 0;
    }

    &__title {
      font-family: @f_title;
      color: @darkgrey;
    }

    &__text {
      font-family: @f_default;
      color: @darkgrey;
      margin: 28px 0 0;

      @media(max-width: 767px){
        margin: 14px 0 0;
      }

      &:empty {
        display: none;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    width: auto;
    height: auto;
    margin: 60px 0 0;
    padding: 0;
    text-align: left;

    @media(max-width: 767px){
      margin: 30px 0 0;
    }

    &--col-two {
      .fp_multi-distributor__content__item {
        flex-basis: 48%;
        width: 48%;
        max-width: 48%;
        margin-right: 4%;

        &:nth-child(2n + 2) {
          margin-right: 0;
        }

        @media(max-width: 767px){
          flex-basis: 100%;
          width: 100%;
          max-width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    &--col-three {
      .fp_multi-distributor__content__item {
        flex-basis: 31.333%;
        width: 31.333%;
        max-width: 31.333%;
        margin-right: 3%;

        &:nth-child(3n + 3) {
          margin-right: 0;
        }

        @media(max-width: 991px){
          flex-basis: 48%;
          width: 48%;
          max-width: 48%;
          margin-right: 4%;

          &:nth-child(3n + 3) {
            margin-right: 4%;
          }

          &:nth-child(2n + 2) {
            margin-right: 0;
          }
        }

        @media(max-width: 767px){
          flex-basis: 100%;
          width: 100%;
          max-width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    &--col-four {
      .fp_multi-distributor__content__item {
        flex-basis: 23.5%;
        width: 23.5%;
        max-width: 23.5%;
        margin-right: 2%;

        &:nth-child(4n + 4) {
          margin-right: 0;
        }

        @media(max-width: 1199px){
          flex-basis: 31.333%;
          width: 31.333%;
          max-width: 31.333%;
          margin-right: 3%;

          &:nth-child(4n + 4) {
            margin-right: 3%;
          }

          &:nth-child(3n + 3) {
            margin-right: 0;
          }

        }

        @media(max-width: 991px){
          flex-basis: 48%;
          width: 48%;
          max-width: 48%;
          margin-right: 4%;

          &:nth-child(4n + 4),
          &:nth-child(3n + 3) {
            margin-right: 4%;
          }

          &:nth-child(2n + 2) {
            margin-right: 0;
          }
        }

        @media(max-width: 767px){
          flex-basis: 100%;
          width: 100%;
          max-width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    &--type-normal {
      .fp_multi-distributor__content__item {
        background-color: transparent;
      }
    }

    &--type-icons {
      .fp_multi-distributor__content__item {
        background-color: @white;

        &__info {
          padding: 40px 45px !important;

          @media(max-width: 767px){
            padding: 25px !important;
          }
        }
      }
    }

    &__item {
      padding: 0;
      margin: 0 0 40px;

      &__figure {
        display: block;
        position: relative;

        &--image {
          padding: 0;
        }

        &--icon {
          padding: 80px 0;
        }

        &__image {
          display: block;
          width: 100%;
          height: auto;
          max-width: 100%;
        }

        &__icon {
          font-size: 85px;
          line-height: 85px;
          text-align: center;
          margin: 0;
        }
      }

      &__info {
        display: block;
        position: relative;
        padding: 26px 0 0;

        @media(max-width: 767px){
          padding: 16px 0 0;
        }

        &__title {
          font-family: @f_title;
          font-weight: 700;
          color: @darkgrey;
          text-transform: uppercase;

          &:empty {
            display: none;
          }
        }

        &__text {
          font-family: @f_default;
          color: @darkgrey;
          margin: 12px 0 0;

          @media(max-width: 767px){
            margin: 4px 0 0;
          }

          &:empty {
            display: none;
          }
        }

        &__aux {
          font-family: @f_title;
          color: @lightgrey;
          margin: 12px 0 0;

          @media(max-width: 767px){
            margin: 4px 0 0;
          }

          &:empty {
            display: none;
          }
        }

        &__link {
          display: inline-block;
          font-family: @f_title;
          margin: 16px 0 0;

          @media(max-width: 767px){
            margin: 8px 0 0;
          }

          &:empty {
            display: none;
          }
        }
      }
    }
  }

  &__cta {
    margin: 0 !important;

    @media(max-width: 599px){
      display: block !important;
    }
  }

  .btn {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    padding: 17px 78px;
    margin: 0;
    color: @darkgrey;
    background-color: @white;
    border: 1px solid @white;
    border-radius: 1px;
    transition: all 0.3s ease-out 0s;

    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;

    span {
      position: relative;
      z-index: 2;
    }

    i {
      font-style: 14px;
      line-height: 14px;
      margin-left: 14px;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      background-color: @primary--dark;
      transition: all 0.3s ease-out 0s;
    }

    &:hover {
      color: @white;
      background-color: @white;
      border-color: transparent;

      &::after {
        width: 100%;
      }
    }

    &--block {
      display: block;
    }

    &--ghost {
      background-color: transparent;
      color: @white;

      &::after {
        background-color: @white;
      }

      &:hover {
        background-color: transparent;
        border-color: @white;
        color: @black;
      }
    }
  }

  &__modal {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 250px;
    background-color: @white;

    &__text {
      display: block;
      width: 100%;
      height: auto;
      padding: 30px;
      margin: 0;

      p {
        font-size: 14px;
        line-height: 22px;
      }

      .wp-caption.aligncenter {
        width: 100% !important;
        text-align: center;

        img {
          display: block;
          margin: 0 auto;
        }
      }

      img.aligncenter {
        display: block;
        margin: 0 auto;
      }

      @media(max-width: 767px){
        padding: 15px;
      }
    }

    &__image {
      display: block;
      width: 100%;
      height: auto;
      padding: 30px;
      margin: 0;

      @media(max-width: 767px){
        padding: 15px;
      }

      img {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: ~"calc(85vh - 60px)";
        margin: 0 auto;

        @media(max-width: 767px){
          max-height: ~"calc(85vh - 30px)";
        }
      }
    }

    &__video {
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;

      video {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
      }
    }

    &__stream {
      display: block;
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
    }

    &__file {
      display: block;
      width: 100%;
      height: auto;
      padding: 30px;
      margin: 0;

      @media(max-width: 767px){
        padding: 15px;
      }

      & > object,
      & > iframe {
        display: block;
        width: 100%;
        height: auto;
        min-height: 75vh;
        padding: 0;
        margin: 0;
        border: none;
      }
    }
  }
}

.modal-dialog.modal-xl {
  width: 95vw;
  margin: 0 auto;
  max-width: 1600px;
}

.modal {
  &.modal--ghost{
    .modal-header,
    .modal-content,
    .modal-body,
    .modal-footer {
      background-color: transparent;
      border: none;
    }
    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: @white;
      text-shadow: none;
      opacity: 1;
      width: 44px;
      position: relative;
      left: -15px;
      height: 44px;
      line-height: 44px;
      font-size: 28px;
    }
  }
}
