@import "variables";

.fp_module {
  width: calc(~"100% + 30px");
  position: relative;
  margin: 0 -15px;

  &:not(.fp_module--full-width) {
    .fp_module__content {
      padding: 40px 70px;
      max-width: 1682px;
      margin: 0 auto;

      @media (max-width: 1024px){
        padding: 30px 40px;
      }

      @media (max-width: 599px){
        padding: 22px 15px;
      }
    }
  }
}

.bg-light {
  background-color: @white;
}

.fp_introduction-v {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: top;

  &__container {
    max-width: 1542px;
    width: 100%;
  }

  &__content {
    display: block;
    position: relative;
    z-index: 2;

    &__title {
      display: block;
      max-width: 85%;
      font-family: @f_title;
      text-align: left;
      color: @darkgrey;
      padding: 0;
      margin: 0;
      .title_text();
      @media(max-width: 599px) {
        max-width: 100%;
      }
    }

    &__text {
      display: block;
      font-family: @f_default;
      color: @darkgrey;
      padding: 0;
      margin: 28px 0 0;
      .regular_text();
      @media(max-width: 599px) {
        margin: 14px 0 0;
      }
    }

    &__module {
      display: block;
      font-family: @f_default;
      .medium_text();
      color: @darkgrey;
      padding: 0;
      margin: 55px 0 0;
      margin-right: 20px;

      .flex-row-reverse & {
        margin-right: 0px;
        margin-left: 20px;
      }

      @media(max-width: 599px) {
        margin: 20px 0 0;

        .flex-row-reverse & {
          margin: 20px 0 0;
        }
      }

      a {
        color: @primary;
        text-decoration: none;

        &:hover{
          color: darken( @primary , 10%);
          transition: color .15s;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: @f_default;
      }

      h1,
      h2,
      h3 {
        display: none!important;
      }

      h4 {
        font-size : 18px;
        font-weight : 800;
        letter-spacing : 0.25px;
        line-height : 31px;
        font-family: @f_title;
        text-transform: uppercase;
      }

      h5 {
        font-size : 15px;
        font-weight : 800;
        letter-spacing : 0.25px;
        line-height : 26px;
        font-family: @f_title;
        text-transform: uppercase;
      }

      h6 {
        font-size : 15px;
        font-weight : 800;
        letter-spacing : 0.25px;
        line-height : 26px;
      }
    }

    &__img {
      display: block;
      position: relative;
      height: 100%;
      min-height: 350px;
      margin: 0;
    }

    &--left {
    }

    &--right {
    }
  }

  .link {
    text-decoration: none;

    &--external {
      font-family: @f_title;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 0.7px;
      line-height: 18px;
      margin-top: 17px;
      color: @darkgrey;
      text-transform: uppercase;
      transition: color .15s;
      display: inline-block;

      [class*=icon] {
        font-size: 16px;
        font-weight: 400;
        line-height: 11px;
        margin-left: 10px;
        display: inline-block;
        transition: transform 0.2s ease-out;
        position: relative;
        bottom: -2px;
      }

      &:hover {
        [class*=icon] {
          transition: transform .2s ease-out;
          transform: translateX(5px) translateZ(0);
        }
      }
    }

    &--primary {
      color: @primary;

      &:hover{
        color: darken( @primary , 10%);
        transition: color .15s;
      }
    }
  }

  p:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  p{
    margin-top: 12px;
    margin-bottom: 0;
  }
}



.container__image.container__image--v {
  overflow: hidden;

  .content_image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 575px){
      margin-top: 22px;
    }

    img {
      display: none !important;
    }
  }
}
