@import "variables";

.fp_featured-cta {
  display: block;
  width: auto;
  height: auto;
  margin: 0 -15px;
  padding: 70px;
  background-color: @white;

  @media(max-width: 991px){
    padding: 70px 40px;
  }

  @media(max-width: 767px){
    padding: 50px 15px;
  }

  &__icon {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: @darkgrey;
    margin: 0 0 28px;

    @media(max-width: 767px){
      font-size: 70px;
      line-height: 70px;
    }
  }

  &__main {
    display: block;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    color: @darkgrey;

    @media(max-width: 767px){
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__desc {
    display: block;
    padding: 0;
    font-family: "PT serif", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: @darkgrey;
    margin: 18px 0 0;

    @media(max-width: 767px){
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__cta {
    max-width: 350px;
    margin: 28px auto 0 !important;

    @media(max-width: 599px){
      max-width: none;
      width: 100% !important;
    }
  }

  &--colored {
    background-color: @primary;

    .fp_featured-cta__icon,
    .fp_featured-cta__main,
    .fp_featured-cta__desc {
      color: @white;
    }
  }

  &--bordered {
    border-top: 1px solid @lightgrey;
    border-bottom: 1px solid @lightgrey;
  }

  .btn {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 17px 78px;
    margin: 0;
    color: @darkgrey;
    background-color: @white;
    border: 1px solid @white;
    border-radius: 1px;
    transition: all 0.3s ease-out 0s;

    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;

    i {
      font-style: 14px;
      line-height: 14px;
      margin-left: 14px;
    }

    &:hover {
      background-color: darken(@white, 10%);
      border-color: darken(@white, 10%);
    }

    &--block {
      display: block;
    }

    &--primary {
      background-color: @primary;
      border-color: @primary;
      color: @white;

      &:hover {
        background-color: darken(@primary, 10%);
        border-color: darken(@primary, 10%);
        color: @white;
      }
    }
  }
}
