@import "variables";

.fp_regular-cta {
  display: block;
  width: auto;
  height: auto;
  margin: 0 -15px;
  padding: 70px;
  background-color: @white;

  @media(max-width: 991px){
    padding: 70px 40px;
  }

  @media(max-width: 767px){
    padding: 50px 15px;
  }

  &--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    @media(max-width: 599px){
      flex-wrap: wrap;
    }
  }

  &__main {
    display: block;
    padding: 0;
    padding-right: 40px;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
    color: @darkgrey;

    @media(max-width: 767px){
      font-size: 20px;
      line-height: 28px;
    }

    @media(max-width: 599px){
      padding-right: 0;
    }
  }

  &__cta {
    max-width: 350px;

    @media(max-width: 599px){
      margin: 28px auto 0 !important;
      max-width: none;
      width: 100% !important;
    }
  }

  &--colored {
    background-color: @primary;

    .fp_regular-cta__main {
      color: @white;
    }
  }

  &--bordered {
    border-top: 1px solid @lightgrey;
    border-bottom: 1px solid @lightgrey;
  }

  .btn {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 17px 78px;
    margin: 0;
    color: @darkgrey;
    background-color: @white;
    border: 1px solid @white;
    border-radius: 1px;
    transition: all 0.3s ease-out 0s;

    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;

    i {
      font-style: 14px;
      line-height: 14px;
      margin-left: 14px;
    }

    &:hover {
      background-color: darken(@white, 10%);
      border-color: darken(@white, 10%);
    }

    &--block {
      display: block;
    }

    &--primary {
      background-color: @primary;
      border-color: @primary;
      color: @white;

      &:hover {
        background-color: darken(@primary, 10%);
        border-color: darken(@primary, 10%);
        color: @white;
      }
    }
  }
}
